/* RESET*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    box-sizing:border-box;
}
html{
    font-family: "PT Sans", sans-serif;
    }

body{
    padding: 0;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}
/* LAYOUT */

.conteiner{
    width: 1500px;
    margin: auto;

}

.row{
    display: flex;
    flex-wrap: wrap;;
}

.row{
    align-items: center;
}

section .conteiner{
    height: 600px;
}

.title{
    font-size: 50px;
}

p{
    font-size: 20px;
    padding: 20px 0;
}

/* HEADER */

header{
    background-color: rgb(19, 94, 235);
    padding: 15px 0;
}

header .row{
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.list{
    display: flex;
    gap: 20px;
    padding: 0;
    justify-content: center;

}

.col{
    padding: 5px; 
}

.col.list{
    width: 50%;
}

nav a{
    color: white;
}

.login.col.button{
    color: black;
    padding: 8px 15px;
}

.first .open{
    margin-left: 15px;
    background-color: black;
    color: white;
    border-radius: 999px;
    padding: 10px 12px;
}

/*MAIN CONTENT*/

/* PRIMA SEZIONE */

.first{
    height: 490px;
    background-image:url(../img/jumbo.png);
    background-size:cover;
    background-position: center;
}

.first .conteiner{
    height: 490px;
}

.first *{
    color: white;
}

.first a{
    color: black;
}
.first{
    text-align: center;
}

.col-1{
    height: 250px;
}

.first .row{
    justify-content: center;
    min-height: 490px;
}

a.button{
    border-radius: 999px;
    background-color: white;
    padding: 10px;
}

.second{
    height: 600px;
    background-color: white;

}

.second .conteiner{
    height: 600px;
}

.second .row{
    align-items: center;
    padding: 25px 0;
    height: 600px;
}

.third .row{
    align-items: center;
    padding: 25px 0;
    height: 600px;
}

.second .row div{
    margin: 0;
}


.col-2{
    margin: auto;
    width: 60%;
}

.col-3{
    margin: auto;
    width: 40%;
}

.third{
    height: 600px;
    background-color: #efefef;
}

.col-4{
    margin: auto;
    width: 60%;
}

.fifth{
    height: 1000px;
    background-color: #efefef;
}

.fifth .row{
    padding: 25px 0;
    height: 1000px;
}

.col-5{
    height: 950px;
    margin: auto;
    width: 100%;
    text-align: center;

}

.sixth{
    height: 600px;
    background-color: #292727;
}

.sixth .row{
    padding-top: 80px;
}

.col-6{
    height: 600px;
    width: calc(2 * 100% / 6);
}

.col-7{
    height: 600px;
    width: calc(100% / 6);
}

.seventh{
    height: 100px;
    background-color: #292727;
}

.seventh .row{
    justify-content: space-between;
    height: 45px;
}

.seventh .conteiner{
    height: 50px;
}

.debug{
    border: dashed black 1px;
}



.fifth .conteiner{
    height: 1000px;
}


.fifth a{
    border-radius: 999px;
    background-color:cornflowerblue;
    padding: 10px;
    color: white;
}

.fifth h2{
    padding-bottom: 50px;
}

/*FOOTER*/

.foot-title{
    font-size: 35px;
}

.col-6 h2{
    color: cornflowerblue;
}

.col-7 h3{
    color: cornflowerblue;
}

.sixth a{
    color: white;
    line-height: 10px;
}

.sixth ul{
    line-height: 40px;
}

.sixth p{
    color: white;
    font-size: 16px;
}

.flag{
    width: 30px;
}

.sixth span{
    vertical-align: 4px;
}

.seventh .row{
    border-top: 1px solid cornflowerblue;
    align-items: center;
}

.register{
    background-color:cornflowerblue;
    border-radius: 999px;
    color: white;
    padding: 10px 15px;
}
.logo{
    padding: 20px 5px;
}




